**Assignment 1\.vscode
**Assignment 1\subprojects
**Assignment 1\builddir

**Assignment 2\.vscode
**Assignment 2\subprojects
**Assignment 2\builddir

**Assignment 3\.vscode
**Assignment 3\subprojects
**Assignment 3\builddir

**Assignment 4\.vscode
**Assignment 4\subprojects
**Assignment 4\builddir

**Assignment 5\.vscode
**Assignment 5\subprojects
**Assignment 5\builddir

**Assignment 6\.vscode
**Assignment 6\subprojects
**Assignment 6\builddir

**Assignment 7\.vscode
**Assignment 7\subprojects
**Assignment 7\builddir

**Assignment 8\.vscode
**Assignment 8\subprojects
**Assignment 8\builddir

**Assignment 9\.vscode
**Assignment 9\subprojects
**Assignment 9\builddir
